@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1366px) {
    /* digital cv page */
    .wrap-digital .container {
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1200px) {
    #banner {
        height: 550px;
    }
    #banner .desc h1 {
        font-size: 35px;
        line-height: 41px;
    }
}
