@media only screen and (max-width: 1024px) {
    /* container */
    section > .container {
        width: 100%;
        max-width: 100%;
        padding: 30px 20px;
    }
    /* baneer */
    #banner {
        height: 470px;
    }
    #banner .desc h1 {
        font-size: 30px;
        line-height: 36px;
    }
    /* navbar */
    #nav-bar img {
        display: none;
    }
    #nav-bar .wrap .left {
        padding-right: 25px;
    }
    #nav-bar .wrap .right {
        padding-left: 25px;
    }
    #nav-bar .wrap {
        justify-content: center;
        width: 100%;
    }
    /* job info */
    #job-info .hobby li {
        margin-bottom: 10px;
    }
    .btn-view {
        display: inline-block;
    }
    /* certificate */
    #certificate .item img {
        width: 180px;
    }
    /* project */
    #project .project-item .list-position li {
        padding-right: 10px;
    }
    /* digital cv page */
    .goals-digital .target .thumb {
        width: 15%;
    }
    .goals-digital .target .desc {
        width: 85%;
    }
    .goals-digital .target .thumb i {
        font-size: 25px;
    }
    .timeline-digital .time-line .thumb span {
        width: 35px;
        height: 35px;
        line-height: 32px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
        line-height: 26px;
    }
    section > .container {
        padding: 30px 15px;
    }
    /* about */
    #about #target {
        padding: 60px 40px 40px;
    }
    #about #personal-info {
        padding: 60px 40px 40px;
    }
    /* job info */
    #job-info .container {
        grid-template-columns: repeat(2, 1fr);
    }
    #job-info .item {
        padding: 30px 20px 50px;
    }
    /* certificate */
    #certificate .list-item {
        margin: 0 -15px;
    }
    #certificate .list-item .item {
        display: inline-block;
        padding: 0 15px 35px;
    }
    #certificate .item .thumb {
        margin-bottom: 20px;
    }
    #certificate .item img {
        width: 100%;
    }
    #certificate .list-item .item:nth-child(2n):before {
        left: 0;
    }
    #certificate .item .desc {
        padding-left: 0;
    }
    #job-info .destop-devices {
        display: none;
    }
    /* mobile devices */
    #job-info .mobile-devices {
        display: grid;
    }
    #job-info .item {
        margin-top: 20px !important;
    }
    #job-info .col-12 .item:first-child {
        margin-top: 0 !important;
    }
    /* project */
    #project .project-item .list-position li {
        margin-bottom: 10px;
    }
    #project .project-item .list-position li:last-child {
        margin-bottom: 0;
        padding-left: 62px;
    }
    #project .project-item .table tr td:first-child {
        width: 65px;
    }
    /* digital cv page */
    .wrap-digital .list-item {
        grid-template-columns: unset;
    }
    .timeline-digital {
        grid-row: 5 / 6;
        grid-column: unset;
    }
    .goals-digital .target {
        display: inline-block;
        width: 100%;
    }
    .goals-digital .target .thumb {
        width: 100%;
        display: inline-block;
        margin: 0 0 10px;
    }
    .goals-digital .target .desc {
        width: 100%;
    }
    .goals-digital .target .thumb i {
        margin: 0;
    }
    .scopes-digital {
        grid-row: 2 / 3;
    }
    .scopes-digital .content-item .scopes-infor {
        width: 100%;
        margin-bottom: 20px;
    }
    .scopes-digital .content-item .scopes-infor p {
        margin: 0 0 10px;
    }
    .team-digital .member {
        display: inline-block;
        width: 100%;
    }
    .team-digital .member .thumb {
        display: inline-block;
        width: 100%;
        margin: 0 0 10px;
    }
    .team-digital .member .desc {
        width: 100%;
    }
    .team-digital .member .thumb i {
        font-size: 30px;
        margin: 0;
    }
    .primary-digital .list-primary .prioritize {
        display: inline-block;
        width: 100%;
    }
    .primary-digital .prioritize .thumb {
        display: inline-block;
        width: 100%;
        margin: 0 0 10px;
    }
    .primary-digital .prioritize .desc {
        width: 100%;
    }
    .primary-digital .prioritize .thumb i {
        font-size: 30px;
        margin: 0;
    }
    .timeline-digital .time-line {
        display: inline-block;
        width: 100%;
    }
    .timeline-digital .time-line .thumb {
        width: 100%;
        display: inline-block;
        padding: 0;
        text-align: left;
        margin: 0 0 5px;
    }
    .timeline-digital .time-line .desc {
        width: 100%;
        padding: 5px 10px;
    }
    .timeline-digital .time-line .thumb span {
        width: 45px;
        height: 45px;
        line-height: 42px;
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 736px) {
}
@media only screen and (max-width: 667px) {
    /* project */
    #project .wrap-list .wrap-project {
        width: 50%;
        margin-bottom: 30px;
    }
    #project .project-item .list-position li:last-child {
        padding-left: 0;
    }
    #project .project-item .table tr td:first-child {
        width: 90px;
    }
}
@media only screen and (max-width: 600px) {
    /* nav bar */
    #nav-bar a {
        padding: 15px 15px;
    }
    /* about */
    #about #target {
        padding: 40px 30px 30px;
    }
    #about #personal-info {
        padding: 40px 30px 30px;
    }
    .form-control {
        font-size: 14px;
    }
    /* job info */
    #job-info .item .content-info {
        margin-bottom: 20px;
    }
    #job-info .item .content-info p {
        margin: 0 0 5px;
    }
    /* project */
    #project .project-item .list-position li:last-child {
        padding-left: 62px;
    }
}
@media only screen and (max-width: 568px) {
    h1 {
        font-size: 19px;
        line-height: 25px;
    }
    /* about */
    #about #target {
        padding: 40px 25px 30px;
    }
    #about #personal-info {
        padding: 40px 25px 30px;
    }
    /* job info */
    #job-info .item .title i {
        font-size: 35px;
    }
    #job-info .item {
        padding: 20px 15px 50px;
    }
    .btn-view {
        padding: 4px 10px;
        font-size: 12px;
    }
    .btn-view i {
        padding-right: 7px;
    }
    /* project */
    #project .project-item .table tr td:first-child {
        width: 65px;
    }
}
